*~
release.tgz
release
*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
frontend/resources/public/js/compiled/**
frontend/resources/public/cljs-out/**
frontend/target/
figwheel_server.log
pom.xml
pom.xml.asc
/dev-target
